@import "../../../global.scss";

.portfolio {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-top: 30px;
    font-size: 50px;

    @include mobile {
      font-size: 20px;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;

    @include mobile {
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include mobile {
      width: 100%;
    }

    .item {
      background-color: black;

      width: 380px;
      height: 280px;
      border-radius: 20px;
      border: 1px solid rgb(240, 239, 239);
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;

      @include mobile {
        width: 130px;
        height: 100px;
      }

      h3 {
        position: absolute;
        font-size: 20px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        z-index: 1;
      }

      &:hover {
        background-color: $mainColour;
        img {
          opacity: 50%;
          z-index: 0;
        }
      }
    }
  }
}

// .portfolio {
//   background-color: white;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// h1 {
//   font-size: 50px;
// }

// ul {
//   margin: 10px;
//   padding: 0;
//   list-style: none;
//   display: flex;

//   li {
//     font-size: 25px;
//     font-weight: 100;
//     margin-right: 50px;
//     padding: 7px;
//     border-radius: 50px;
//     cursor: pointer;

//     &.active {
//       background-color: $mainColour;
//       color: white;
//     }
//   }
// }

// .container {
//   width: 70%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-wrap: wrap;

//   .item {
//     width: 400px;
//     height: 250px;
//     border-radius: 20px;
//     border: 1px solid rgb(240, 239, 239);
//     margin: 10px 20px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: relative;
//     transition: all 0.2s ease;
//   }

//   h3 {
//     position: absolute;
//     font-size: 20px;
//     // color: white;
//   }

//   img {
//     width: 100%;
//     height: 100%;
//     object-fit: fill;
//     z-index: 1;
//   }

//   &:hover {
//     background-color: $mainColour;
//     img {
//       opacity: 0.9;
//       z-index: 0;
//     }
//   }
// }
